.containerAlert {
    
}

.container {
    margin-top: 2rem;
    width: 45%;
    max-height: 300px;

    .caixa1 {
        display: flex;
        background: var(--white);
        justify-content: space-between;

        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        .textoCaixa1Topo {
            align-self: center;
            display: inline;
            margin-Top: 1rem;
            margin-left: 1rem;

            h2 {
                margin-top: -1rem;
            }
            
            p {
                margin-top: 1rem;
                font-size: 0.8rem;
            }

            .temperatura {
                display: flex;
                margin-top: 1rem;
                margin-left: -0.5rem;
            }

            .nuvem {
                display: flex;
                margin-top: 0.2rem;
                margin-left: -0.5rem;
            }
        }

    }

    .caixa2 {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        
        .cubo {
            border: 0;
            box-shadow: 1px 1px 5px #303030;
            border-radius: 10px;
            width: 20%;
            height: 6rem;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .cubo1 {
                background: var(--orange);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }

            .cubo2 {
                background: var(--pink-light);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .cubo3 {
                background: var(--reactNative);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .cubo4 {
                background: var(--elixir);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .caixa3 {
        margin-top: 2rem;
        width: 100%;
        height: 340px;

        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        .textProgresso {
            display: flex;
            background: var(--gray-100);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 0.4rem;
            padding-left: 0.6rem;

            p{
                margin-top: 5px;
                margin-left: 5px;
            }
        }
    }

}

.container2{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-top: 2rem;
    margin-left: 3rem;

    .redesSociais {
        display: flex;
        justify-content: right;
        //cursor: pointer;

        h2 {
            margin-left: 1rem;
        }
    }

    .caixa4 {
        margin-top: 1.2rem;
        height: 12.9rem;
        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .fechamentoStatus {

            width: 100%;
            margin: 1rem;
            //background: cyan;
            max-height: 100%;

            .bloco1 {
                //background: crimson;
                height: 70%;
            }
            
            .bloco2Inicio {
                background: #808080;
                height: 2.5rem;
                border-radius: 6px;
                cursor: pointer;
                
                p {
                    color: #fff;
                    font-size: 1.0rem;
                    text-align: center;
                    padding-top: 0.6rem;
                }

                transition: filter 0.3s;

                &:hover {
                    filter: brightness(0.8);
                }
            }

            .bloco2Meio {
                background: #00af00;
                height: 2.5rem;
                border-radius: 6px;
                cursor: pointer;
                
                p {
                    color: var(--white);
                    font-size: 1.0rem;
                    text-align: center;
                    padding-top: 0.6rem;
                }

                transition: filter 0.3s;

                &:hover {
                    filter: brightness(0.8);
                }
            }

            .bloco2Fim {
                background: #df0000;
                height: 2.5rem;
                border-radius: 6px;
                cursor: pointer;
                
                p {
                    color: var(--white);
                    font-size: 1.0rem;
                    text-align: center;
                    padding-top: 0.6rem;
                }

                transition: filter 0.3s;

                &:hover {
                    filter: brightness(0.8);
                }
            }

            .bloco2Anterior {
                background: #ff7b29;
                height: 2.5rem;
                border-radius: 6px;
                cursor: pointer;
                
                p {
                    color: var(--white);
                    font-size: 1.0rem;
                    text-align: center;
                    padding-top: 0.6rem;
                }

                transition: filter 0.3s;

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
        
        /*
        .modelo1 {
            width: 55%;

            div {
                background-color: var(--yellow);
                margin: 1rem;
                border-radius: 20px;
                height: 5.0rem;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .modelo2 {
            width: 55%;

            div {
                background-color: var(--yellow);
                margin: 1rem;
                border-radius: 20px;
                height: 5.0rem;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        */
    }

    .textoMembros {
        margin-top: 1.0rem;
        margin-bottom: 0.5rem;
    }

    .caixa5 {
        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        .usersSistem {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            margin-top: 1rem;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                p {
                    font-weight: 500;
                    font-size: 0.8rem;
                }

                h5 {
                    font-weight: 500;
                    font-size: 0.7rem;
                }
            }
        }
    }

    .textoConsumo {
        margin-top: 1.0rem;
        margin-bottom: 0.5rem;
    }

    .caixa6 {
        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;
        width: 100%;
        height: 340px;

        .textConsumo {
            display: flex;
            background: var(--gray-100);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 0.4rem;
            padding-left: 0.6rem;

            p{
                margin-top: 5px;
                margin-left: 5px;
            }
        }
    }

}

