.container {
    margin-top: 2rem;

    width: 45%;
    max-height: 300px;

    .caixa1 {
        display: flex;
        background: var(--white);
        justify-content: space-between;

        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        .textoCaixa1Topo {
            align-self: center;
            display: inline;
            margin-Top: 1rem;
            margin-left: 1rem;
            
            p {
                margin-top: 1rem;
            }

            .temperatura {
                display: flex;
                margin-top: 1rem;
                margin-left: -0.5rem;
            }

            .nuvem {
                display: flex;
                margin-top: 0.2rem;
                margin-left: -0.5rem;
            }
        }

    }

    .caixa2 {
        margin-top: 2rem;
        display: flex;
        //background: chartreuse;
        justify-content: space-between;
        
        .cubo {
            border: 0;
            box-shadow: 1px 1px 5px #303030;
            border-radius: 10px;
            width: 20%;
            height: 8rem;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .cubo1 {
                background: var(--orange);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }

            .cubo2 {
                background: var(--pink-light);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .cubo3 {
                background: var(--reactNative);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .cubo4 {
                background: var(--elixir);
                height: 100%;
                width: 100%;
                border-radius: 10px;
                color: var(--white);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .caixa3 {
        margin-top: 2rem;
        width: 100%;
        height: 340px;

        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        .textProgresso {
            display: flex;
            background: var(--gray-100);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 0.4rem;
            padding-left: 0.6rem;

            p{
                margin-top: 5px;
                margin-left: 5px;
            }
        }
    }

}

.container2{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-top: 2rem;
    margin-left: 3rem;

    .redesSociais {
        display: flex;
        justify-content: right;
        cursor: pointer;

        h2 {
            margin-left: 1rem;
        }
    }

    .caixa4 {
        margin-top: 1.2rem;

        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        
        .modelo1 {
            width: 55%;

            div {
                background-color: var(--yellow);
                margin: 1rem;
                border-radius: 20px;
                height: 6.5rem;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .modelo2 {
            width: 55%;

            div {
                background-color: var(--yellow);
                margin: 1rem;
                border-radius: 20px;
                height: 6.5rem;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .TextoMembros {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .caixa5 {
        //margin-top: 1.2rem;

        border: 0;
        box-shadow: 1px 1px 5px #303030;
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
    }

}

