.provider {
    //height: 100vh;
    position: fixed;
}
.menuFixoMarginDireita {
    margin-right: 13.5rem;
}
.logout {
    text-align: center;
}

/*
$sidebar-bg-color: red !default;
$sidebar-color: #adadad !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: red !default;
$submenu-bg-color-collapsed: orange !default;
$icon-bg-color: lime !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;
*/